<div>
<h3>View 1</h3>
<p>
	<label for="searchName">Search Name: </label>
	<input type="search" id="searchName" name="searchName" data-ng-model="filter.name">
</p>
<p>
	Showing results for: <strong><em>{{ searchName }}</em></strong>
</p>
<p>
	<table>
		<tr>
			<th>Name</th>
			<th>Phone</th>
			<th>Age</th>
		</tr>
		<tr data-ng-repeat="person in people | filter:filer.name">
			<td>{{ person.name }}</td>
			<td>{{ person.phone }}</td>
			<td>{{ person.age }}</td>
		</tr>
	</table>
</p>


<h4> Nothing found? Add a new person</h4>
<p>
	<label for="newName">Name: </label>
	<input type="text" id="newName" name="newName" data-ng-model="newPerson.name">
	<br>
	<label for="newPhone">Phone: </label>
	<input type="text" id="newPhone" name="newPhone" data-ng-model="newPerson.phone">
	<br>
	<label for="newAge">Age: </label>
	<input type="text" id="newAge" name="newAge" data-ng-model="newPerson.age">
	<br>
</p>

<p>
	<button ng-click="addNewPerson()">Add new person</button>
</p>


<p>
	<a href="#/view2">View 2</a>
</p>

 

</div>
