<h1>Learning Routing 1</h1>
<p>
	Search for: <input type="text" data-ng-model="searchName">
	<br>
	

	Showing results for: {{ searchName }}
</p>

<p>
	<h3>Score Board</h3>
	<table>
		<tr>
			<td>First Name</td>
			<td>Last Name</td>
			<td>Score</td>
		</tr>
		<tr data-ng-repeat="person in people | filter:searchName | orderBy:Score ">
			<td>{{person['First Name']}}</td>
			<td>{{person['Last Name']}}</td>
			<td>{{person['Score']}}</td>
		</tr>
	</table>
</p>

<p>
	<h2>Add new player and Score</h2>



	<ul>
		<li>
			<label for="newFirstName">First Name: </label>
			<input type="text" data-ng-model='newPerson.firstname'>
		</li>
		<li>
			<label for="newLastName">Last Name: </label>
			<input type="text" data-ng-model='newPerson.lastname'>
		</li>
		<li>
			<label for="Score">Score: </label>
			<input type="text" data-ng-model='newPerson.score'>
		</li>
	</ul>

	<button data-ng-click='addPerson()'>Click here to add new player/score</button>
</p>

<p>
	<a href="#/view2">Go to Leader Board</a>
</p>